@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800&display=swap');

* {
  margin: 0;
   border: 0;
   padding: 0;
}

body{
  font-family: 'Catamaran', sans-serif;
  background-color: #d8dbdb;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;         /* center all of the content with a max-width 800px   */
  padding: 2%;
  /* color: #565859; */
  color: #f6faff;
}

#wrapper{
  background: black;
}
/* style the social icons */
.fa {
  padding: 5px;
  font-size: 40px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
/* end social icons */

img{
  max-width: 100%;
}
header{
  width: 90%;
}
#logo{
  max-width: 220px;
  margin: 1% 0 0 4%;  /* margin: top right buttom left*/
  float: left;
}
#callout{
  display: flex;
  justify-content: flex-end;
  /* flex-direction:row; */
}
ul{
  list-style-type: none;
  margin-top: 4%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.social li {
  /* display: inline; */
  display: block;
  padding: .5em;
}


.banner{
  margin-bottom: 3%;
}

.one_col{
  display: flex;
  padding: 3%;
}
h1{
    letter-spacing: 1%;
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
}
.col{
  width: 50%;
}
.col-img{
  margin: 50% 0 0 50%;
}

.button-holder {
  float: center;
  margin: 2% 0 4% 40%;
}
/* margin: top right buttom left*/
.btn{
  float: center;
  background: #303840;
  color: #f6faff;
  text-decoration: none;
  font-weight: 800px;
  padding: 8px 12px;  /* 8px is top and right 12px buttom left*/
  border-radius: 8px;
  letter-spacing: 1px;
}
.btn:hover{
  background: #58585A;
}
.line{
  clear: both;            /* creates the invisible horizontal rule, */
  height: 2px;            /* this gives a background color in order to display*/
  background-color: #e3e9e9;
  margin: 4% auto;
  width: 96%;
}

.two-col {
  float: left;
  width: 46%;
  padding: 2%;
  position: relative;
}
.two-col:hover .img2{
  opacity: 0.5;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.two-col:hover .middle{
  opacity: 1;
}

a {
  color: white;
  text-decoration: none;
}
.contact {
  text-align: center;
  padding-bottom: 3%;
}

p {
  text-align: !important justify;
}

@media (max-width: 600px) {
  .two-col {
    width: 97%;
  }
}
